<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
	<p>I am passionate by Linux and Cloud Computing since several years.</p>

	<p>I discovered Linux in 2001 and fall in love of this system. I remember, it was a kernel 2.4 (That I needed to recompile to be able to use it on my hardware), I was using Mandrake Linux 8.0. The entry ticket was expensive regarding my personnal hardware. Since I could work and develop a thorough understanding of Linux during my work and personal life.</p>

	<p>In 2006 I discovered virtualization with Xen and quickly loved this. I implemented it in production in my first job to improve the BRP of their ERP. When in 2010 I discovered containerization with OpenVZ for an other customer, I had to customize a lot the kernel to have it works on Suse distribution with customer needs. I loved that and tried to continue to work with containers and enjoy working now with Docker.</p>
 
	<p>More recently in 2015, I discovered Openstack. I deployed it manually, using Fuel Mirantis, Ubuntu juju and redHat tripleO with a SDN Solution (Juniper). Openstack is the logical next step of my personnal experience with Linux. I was familiar with cloud concepts since working with VMware vCloud Director, but Openstack has been for me like a revelation.</p>
 
	<p>In paralell, I worked a lot, personally and professionaly to automate development processes. My first substantial setup was in 2010. I worked on CI/CD, using SVN, Hudson, a home-made functionnal test solution, unit tests. The CI/CD was, daily, automatically running unit tests, building all the RPMs files, installing OS on a VM using kickstart, deploying all the RPMs, configuring the VM, running functionnal tests for each requirements and run it in parallel on hardware platform. I really enjoyed working this way, finally I discovered the DevOps term few years later.</p>
</div><!--//summary-->
</section><!--//section-->
