 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">RedHat Openstack Administrator (CL210 & CL310)</h4>
    <h5 class="meta">RedHat</h5>
    <div class="time">2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Novell SUSE 11 Tech Spec</h4>
    <h5 class="meta">Novell</h5>
    <div class="time">2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Training Embedded Linux</h4>
    <h5 class="meta">Free Electron in Toulouse</h5>
    <div class="time">2012</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Novell Administrator Certification</h4>
    <h5 class="meta">Novell</h5>
    <div class="time">2010</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">LPIC-1 Certification</h4>
    <h5 class="meta">Linux Professionnal Institute</h5>
    <div class="time">2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Engineering Degree in computing and robotics project leader</h4>
    <h5 class="meta">IMERIR school in Perpignan</h5>
    <div class="time">2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">TOEIC 735 pts</h4>
    <h5 class="meta">IMERIR school in Perpignan</h5>
    <div class="time">2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Master's degree in Electronic, Direct dialing and Computing (EAI)</h4>
    <h5 class="meta">University of Perpignan</h5>
    <div class="time">2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor of cumputer science</h4>
    <h5 class="meta">University of Perpignan</h5>
    <div class="time">2008</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">University Institute of Technology</h4>
    <h5 class="meta">IUT of Nîmes</h5>
    <div class="time">2006</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">High school diploma in sciences</h4>
    <h5 class="meta">Lycée Denis Diderot of Narbonne</h5>
    <div class="time">2004</div>
</div><!--//item-->
</div><!--//education-container-->
